<ion-view title=" Semiologia" id="page1" style="background-color:#FDFDFD;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="Semiologia-form1" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <ion-item class="item-thumbnail-left item-icon-right balanced  " id="Semiologia-list-item1" ui-sref="sistemaCardiovacular">
                <img src="img/Q209tBppRRaCpaeKyhk0_4.jpg">
                <h2balanced>Cardiovascular
                    <p>Exames do coração</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </h2balanced>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right balanced  " id="Semiologia-list-item3" ui-sref="sistemaNervoso">
                <img src="img/cOIOnQuNSJaqiTuU0e15_1.jpg">
                <h2balanced>Nervoso
                    <p>-infomações-</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </h2balanced>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right balanced  " id="Semiologia-list-item4" ui-sref="sistemaRespiratRio">
                <img src="img/nGGyapS0GFtUJu2oo32w_7.jpg">
                <h2balanced>Respiratório
                    <p>-informações-</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </h2balanced>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right balanced  " id="Semiologia-list-item5" ui-sref="sistemaOsteomuscular">
                <img src="img/PR5TetEuSRyJtX30Edlm_2.jpg">
                <h2balanced>Osteomuscular
                    <p>-informações-</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </h2balanced>
            </ion-item>
        </form>
    </ion-content>
</ion-view>