<ion-view title="Sistema Respiratório" id="page4" style="background-color:#FDFDFD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <h3 id="sistemaRespiratRio-heading12" style="color:#388E3C;" class=" ">Parte 1</h3>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sistemaRespiratRio-video6" class=" ">
            <iframe src="https://www.youtube.com/embed/aTB1FUZH3i8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <p id="sistemaRespiratRio-markdown14" style="color:#000000;" class=" ">med med medmed med medmed med medmed med medmed med med</p>
        <h3 id="sistemaRespiratRio-heading13" style="color:#388E3C;" class=" ">Parte 2</h3>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sistemaRespiratRio-video7" class=" ">
            <iframe src="https://www.youtube.com/embed/jqIFfcGGFMA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <p id="sistemaRespiratRio-markdown15" style="color:#000000;" class=" ">med med medmed med medmed med medmed med medmed med med</p>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <h3 id="sistemaRespiratRio-heading14" style="color:#388E3C;" class=" ">Parte 3</h3>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sistemaRespiratRio-video8" class=" ">
            <iframe src="https://www.youtube.com/embed/xLlB5niSOqI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <p id="sistemaRespiratRio-markdown16" style="color:#000000;" class=" ">med med medmed med medmed med medmed med medmed med med</p>
        <h3 id="sistemaRespiratRio-heading16" style="color:#388E3C;" class=" ">Parte 4</h3>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sistemaRespiratRio-video9" class=" ">
            <iframe src="https://www.youtube.com/embed/kilJ0bSF1T0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <p id="sistemaRespiratRio-markdown17" style="color:#000000;" class=" ">med med medmed med medmed med medmed med medmed med med</p>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <h3 id="sistemaRespiratRio-heading15" style="color:#388E3C;" class=" ">Parte 5</h3>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sistemaRespiratRio-video10" class=" ">
            <iframe src="https://www.youtube.com/embed/0YEg5E5VvPY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <p id="sistemaRespiratRio-markdown18" style="color:#000000;" class=" ">med med medmed med medmed med medmed med medmed med med</p>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
    </ion-content>
</ion-view>