<ion-view title="Sistema Cardiovacular" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="sistemaCardiovacular-heading19" style="color:#388E3C;" class=" ">Parte 1</h3>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sistemaCardiovacular-video1" class=" ">
            <iframe src="https://www.youtube.com/embed/2NtkWjUHR1E?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <p id="sistemaCardiovacular-markdown21" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <h3 id="sistemaCardiovacular-heading20" style="color:#388E3C;" class=" ">Parte 2</h3>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sistemaCardiovacular-video2" class=" ">
            <iframe src="https://www.youtube.com/embed/cZEJpwohVDE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <p id="sistemaCardiovacular-markdown23" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <h3 id="sistemaCardiovacular-heading21" style="color:#388E3C;" class=" ">Parte 3</h3>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sistemaCardiovacular-video3" class=" ">
            <iframe src="https://www.youtube.com/embed/Fz8UeB4pLwU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <p id="sistemaCardiovacular-markdown22" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
    </ion-content>
</ion-view>