<ion-view title="Sistema Nervoso" id="page3" style="background-color:#FDFDFD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <h3 id="sistemaNervoso-heading17" style="color:#388E3C;" class=" ">Parte 1</h3>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sistemaNervoso-video4" class=" ">
            <iframe src="https://www.youtube.com/embed/2gpWGTs-EXg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <p id="sistemaNervoso-markdown19" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <h3 id="sistemaNervoso-heading18" style="color:#388E3C;" class=" ">Parte 2</h3>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sistemaNervoso-video5" class=" ">
            <iframe src="https://www.youtube.com/embed/0aIdIDxiooc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <p id="sistemaNervoso-markdown20" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
    </ion-content>
</ion-view>